/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: var(
    --mat-sys-surface-container-low
  ); /* #fdf1f2 - Very light pink */
  color: var(--mat-sys-on-background);
}

html {
  scrollbar-color: var(--mat-sys-outline-variant)
    var(--mat-sys-surface-container-low);
  scrollbar-width: thin;
}
