::ng-deep .mat-mdc-dialog-container {
  --mat-dialog-container-shape: 16px;
}

mat-dialog-content {
  min-width: 680px;
  padding: 24px !important;
}

.role-card {
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--mat-sys-level2);
  }

  .role-icon {
    font-size: 80px !important;
    width: 80px !important;
    height: 80px !important;
    line-height: 80px !important;
    margin-inline: auto;
    color: #1976d2;

    &.inv-icon {
      color: #00796b;
    }
    &.admin-icon {
      color: #7b1fa2;
    }
  }
}
