<h2>Angular2 App</h2>

<h2>Importing Component</h2>
<app-header />

<h2>Interpolation</h2>
{{ text }}

<h2>Property Binding</h2>
<img [src]="imageURL" />

<h2>DOM Properties names vs HTML Attribute names</h2>
<!-- <tr><td [colspan]="columnsCount">Some text</td></tr> !Error -->
<tr>
  <td [colSpan]="columnsCount">Some text</td>
</tr>

<h2>Class Binding</h2>
<button [class.active]="isActive">Save</button>

<h2>Event Binding</h2>
<button (click)="onClick()">Click Me</button>

<h2>Property and Event Binding</h2>
<p [class.isRed]="isRed">Color</p>
<button (click)="toggleRed()">Toggle Color</button>

<h2>Directives</h2>
<h3>NgFor</h3>
<div *ngFor="let item of products">{{item}}</div>

<h3>NgIf</h3>
<div *ngIf="products.length > 0">Products</div>