@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  align-items: flex-start;
  position: sticky;
  bottom: 0;
}

button {
  @include mat.button-density(-1);
  background: var(--mat-sys-surface);
}
