::ng-deep
  .manual-upload-review-table
  .cdk-virtual-scroll-viewport.base-table-container {
  min-height: 39dvh;
  height: 39dvh;
}

.mat-column-_hiddenValidation mat-chip-set {
  max-width: 300px;
  width: max-content;
}
