@use '@angular/material' as mat;

::ng-deep mat-tab-body .mat-mdc-tab-body-content {
  overflow-x: hidden;
}

mat-toolbar-row.header-toolbar-row {
  gap: 0.5em;
  justify-content: space-between;
  @include mat.button-density(5);
}

::ng-deep .tab-group div.base-table-container {
  min-height: 70dvh;
  height: 70dvh;
}

.header-toolbar-row {
  .spinning {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
