@use "@angular/material" as mat;

.form-field-density {
  @include mat.form-field-density(-4);
}

.overlay-pre {
  // position: fixed;
  // top: 20px;
  // right: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  // z-index: 1000;
  // max-width: 400px;
  // max-height: 80vh;
  // pointer-events: none;
  // overflow: auto;
  // scrollbar-width: none;
}

// .bulk-edit-form {
//   // Override filled container color only on dirty form fields
//   mat-form-field.ng-dirty {
//     --mdc-outlined-text-field-outline-color: orange;
//     --mdc-outlined-text-field-outline-width: 3px;
//     --mdc-outlined-text-field-hover-outline-color: orange;
//   }
// }

::ng-deep .mat-mdc-form-field-has-icon-suffix div.mat-mdc-text-field-wrapper {
  padding-right: 16px;
}

button[appClearField] {
  display: none;
}

button[appToggleEditField] {
  display: none;
}

.bulk-edit-form {
  button[appClearField] {
    display: unset;
  }

  button[appToggleEditField] {
    display: unset;
  }

  ::ng-deep .mat-mdc-form-field-has-icon-suffix div.mat-mdc-text-field-wrapper {
    padding-right: unset;
  }
}

.container.form-field-density mat-toolbar {
  --mat-toolbar-container-background-color: var(
    --mat-sys-surface-container-low
  );
}

mat-panel-title h1,
mat-panel-title h3 {
  margin-bottom: 0;
}
