@use '@angular/material' as mat;

mat-toolbar-row.header-toolbar-row {
  gap: 0.5em;
  justify-content: space-between;
  @include mat.button-density(5);
}

// Needed for projected content (col definitions)
:host ::ng-deep {
  /* Excel-like Table Styling */
  .base-table-container {
    min-height: 80dvh;
    height: 80dvh;
    // border: 1px solid var(--mat-sys-outline-variant);
  }

  mat-drawer-content table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;

    @include mat.table-density(-5);
  }

  .mat-mdc-header-cell {
    border-right: 1px solid var(--mat-sys-outline-variant);
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }

  .mat-mdc-cell {
    border-right: 1px solid var(--mat-sys-outline-variant);
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }

  .mat-mdc-header-cell.sticky-cell,
  .mat-mdc-cell.sticky-cell {
    border-right: 2px solid var(--mat-sys-outline-variant);
  }

  .mdc-data-table__row:last-child > .mat-mdc-cell {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }

  .mat-mdc-header-cell,
  .mat-mdc-cell {
    max-width: 300px;
  }

  .mat-mdc-cell {
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    text-overflow: unset;
  }

  .mat-column-flowOfFundsTransactionDesc {
    max-width: 400px;
  }

  .mat-mdc-header-row {
    z-index: 1;
  }

  .mat-mdc-row {
    transform: translateZ(0); /* Triggers GPU layer creation */
    will-change: transform; /* Hint for future changes */
    transition: background-color 0.3s;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.1);
  }

  .mat-mdc-row.recentlyOpenRowHighlight .mat-mdc-cell {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.1);
  }

  th.mat-sort-header-sorted {
    color: black;
  }
}

/* Filters styling */
mat-drawer.form-drawer {
  background-color: var(--mat-sys-surface);
}

mat-drawer-container {
  @include mat.form-field-density(-5);
  @include mat.chips-overrides(
    (
      container-height: 20px,
    )
  );

  /* Hint text styling */
  mat-hint {
    font-size: 0.75rem;
    color: var(--mat-sys-on-surface-variant, #666);
  }

  @include mat.sidenav-overrides(
    (
      container-width: 380px,
    )
  );
}

::ng-deep mat-drawer-container mat-chip-row.mat-mdc-chip.mat-mdc-chip-row {
  margin: 2px 0 2px 8px;
}

/* Filter chips styling */
.filter-chips {
  @include mat.chips-density(0);
}

.filter-chips mat-chip {
  max-width: unset;
}

mat-chip-set.mat-mdc-chip-set.mdc-evolution-chip-set.filter-chips {
  @include mat.chips-density(-1);
  @include mat.chips-overrides(
    (
      container-shape-radius: 24px,
      hover-state-layer-opacity: 0,
    )
  );
  overflow-y: hidden;
  scrollbar-width: thin;
  flex: 1 1 auto;
}

::ng-deep mat-tab-group mat-chip .mdc-evolution-chip__action--presentational {
  cursor: unset;
}

::ng-deep mat-chip-set.filter-chips .mdc-evolution-chip-set__chips {
  flex-flow: row;
}

::ng-deep .filter-chips .mdc-evolution-chip__text-label {
  display: flex;
  gap: 0.5em;
  align-items: center;
  user-select: text;
}

::ng-deep .select-option.mat-mdc-option.mdc-list-item--disabled {
  pointer-events: unset;
}

::ng-deep
  .select-option.mat-mdc-option.mdc-list-item--disabled
  .mdc-list-item__primary-text {
  opacity: unset;
}

.filter-form-toolbar {
  @include mat.button-density(5);
  & {
    --mat-toolbar-standard-height: 48px;
  }
}

.filter-form-toolbar mat-button-toggle-group {
  flex: 1 0 auto;
}

.filter-form-toolbar mat-toolbar-row {
  gap: 0.5rem;
}

.color-box {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 2px;
}

::ng-deep
  mat-button-toggle.highlight-radio
  .mat-button-toggle-checkbox-wrapper {
  z-index: 99;
  display: none;
}

::ng-deep
  mat-button-toggle.highlight-radio.mat-button-toggle-checked
  .mat-button-toggle-button:has(.mat-button-toggle-checkbox-wrapper) {
  padding-left: 0px;
}

.form-drawer mat-button-toggle {
  @include mat.button-toggle-density(-3);
}

mat-icon.highlight-radio-cancel.material-icons {
  height: 20px;
  width: 20px;
  font-size: 22px;
}

mat-button-toggle.highlight-radio {
  flex: 1 0 auto;
}

.color-box-in-chip {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.color-pallette {
  flex: 0 0 auto;
  @include mat.chips-overrides(
    (
      container-shape-radius: 50%,
      container-height: 32px,
      elevated-selected-container-color: var(--mat-sys-surface),
      outline-color: var(--mat-sys-on-surface),
      flat-selected-outline-width: 3px,
    )
  );

  mat-chip {
    width: 32px;
  }

  // ::ng-deep mat-chip.mat-mdc-chip-highlighted {
  //   outline: 3px solid #333; /* Or use your theme's primary color */
  //   box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  // }

  ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__action--primary {
    padding-left: 0;
    padding-right: 0;
  }

  ::ng-deep
    span.mdc-evolution-chip__text-label.mat-mdc-chip-action-label:last-of-type {
    height: 24px;
  }

  ::ng-deep .mdc-evolution-chip__cell--primary {
    justify-content: center;
  }

  .invisible-text {
    color: transparent;
    user-select: none;
    pointer-events: none;
  }

  ::ng-deep .mdc-evolution-chip-set__chips {
    flex-flow: row;
  }
}

.filter-btn {
  flex: 0 0 auto;
}

.no-select {
  -webkit-user-select: none;
  user-select: none;
}

::ng-deep mat-paginator .mat-mdc-paginator-container {
  justify-content: start;
}
