@use "@angular/material" as mat;

mat-sidenav-container {
  @include mat.sidenav-overrides(
    (
      container-background-color: var(--mat-sys-surface-container),
      container-text-color: var(--mat-sys-on-surface),
    )
  );
}

mat-sidenav {
  width: 240px;
}

.nav {
  border-right: 1px solid var(--mat-sys-outline-variant);
  /* Local density for buttons if desired */
  @include mat.button-density(-1);

  @include mat.tree-overrides(
    (
      container-background-color: var(--mat-sys-surface-container),
      node-text-color: var(--mat-sys-on-surface),
    )
  );

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-fixed),
      container-text-color: var(--mat-sys-on-primary-fixed),
      title-text-font: var(--mat-sys-headline-small-font),
      title-text-line-height: var(--mat-sys-headline-small-line-height),
      title-text-size: var(--mat-sys-headline-small-size),
      title-text-tracking: var(--mat-sys-headline-small-tracking),
      title-text-weight: var(--mat-sys-headline-small-weight),
    )
  );
}

.nav mat-tree-node:hover {
  background: color-mix(in oklab, var(--mat-sys-on-surface) 8%, transparent);
}

.nav button[mat-icon-button] {
  color: var(--mat-sys-on-surface);
}

.nav .link {
  cursor: pointer;
}

.nav mat-toolbar {
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

mat-tree-node:first-of-type {
  margin-bottom: 0.5rem !important;
}
