@use "@angular/material" as mat;

.user-form-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  @include mat.form-field-density(-4);
}

.tab-content {
  padding: 20px 0;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 20px 0;
}

.form-row mat-form-field {
  flex: 1;
  min-width: 200px;
}

.full-width {
  width: 100%;
}

.form-actions {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

mat-expansion-panel {
  margin-bottom: 16px;
}

mat-panel-title {
  gap: 16px;
}

mat-expansion-panel-header .mdc-fab {
  box-shadow: none;
}

mat-divider {
  margin: 24px 0;
}

h3,
h4,
h5 {
  margin-top: 24px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.87);
}

::ng-deep .mat-mdc-tab-body-content {
  scrollbar-width: none;
}

.overlay-pre {
  // position: fixed;
  // top: 20px;
  // right: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  // z-index: 1000;
  // max-width: 400px;
  // max-height: 80vh;
  // pointer-events: none;
  // overflow: auto;
  // scrollbar-width: none;
}

.form-section {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 1rem 0;
}

.nested-array {
  padding-left: 1.5rem;
  border-left: 2px solid #ccc;
}

.sub-group-header {
  display: flex;
  margin: 20px 0;
  gap: 1em;
}

.sub-group-header-gap {
  flex: 1 1 auto;
}

mat-chip-set {
  margin: 20px 0;
}

::ng-deep .sub-absolute > .mat-mdc-form-field-subscript-wrapper {
  position: absolute;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.bulk-edit-form {
  // Override filled container color only on dirty form fields
  mat-form-field.ng-dirty {
    --mdc-outlined-text-field-outline-color: orange;
    --mdc-outlined-text-field-outline-width: 3px;
    --mdc-outlined-text-field-hover-outline-color: orange;
  }
}

::ng-deep .mat-mdc-form-field-has-icon-suffix div.mat-mdc-text-field-wrapper {
  padding-right: 16px;
}

button[appClearField] {
  display: none;
}

button[appResetField] {
  display: none;
}

.bulk-edit-form {
  button[appClearField] {
    display: unset;
  }

  button[appResetField] {
    display: unset;
  }

  ::ng-deep .mat-mdc-form-field-has-icon-suffix div.mat-mdc-text-field-wrapper {
    padding-right: unset;
  }
}

