@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: mat.$rose-palette,
      typography: Roboto,
      density: -2,
    )
  );
}

.mat-warn {
  @include mat.icon-overrides(
    (
      color: #f44336,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--mat-sys-surface-container-low);
  color: var(--mat-sys-on-background);
}

html {
  scrollbar-color: var(--mat-sys-outline-variant)
    var(--mat-sys-surface-container-low);
  scrollbar-width: thin;
}
