:host {
  border: 4px solid #F3F0CA;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

/* 
  - In traditional CSS applies to all h1 elements of `:host`, but...
  - Since View Encapsulation is set to Emulated, this rule will only apply to h1 elements of `:host` in the parent component's template.
*/
:host h1 {
  color: #F3F0CA;
}

/*
  - Applies to direct child h1 elements of `:host`.
*/
/* :host>h1 {
  color: #F3F0CA;
} */

/*
  - Applies to all h1 elements of `:host` and its child components.
  - Works like `:host h1` selector from traditional CSS.
*/
/* :host ::ng-deep h1 {
  color: #F3F0CA;
} */