::ng-deep .mat-column-msgTag50 > div {
  white-space: pre-line;
  word-wrap: break-word;
}

::ng-deep .mat-column-msgTag59 > div {
  white-space: pre-line;
  word-wrap: break-word;
}

::ng-deep .mat-column-swiftTag52OrderingInstitution > div {
  white-space: pre-line;
  word-wrap: break-word;
}

::ng-deep .mat-column-msgTag70 > div {
  white-space: pre-line;
  word-wrap: break-word;
}

::ng-deep .mat-column-payeeAddress > div {
  white-space: pre-line;
  word-wrap: break-word;
}

::ng-deep .mat-column-payerAddress > div {
  white-space: pre-line;
  word-wrap: break-word;
}
