:host {
  display: block;
  height: 100%;
}

.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-loading {
  display: flex;
  justify-content: center;
}

.chat-messages {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
