.mat-mdc-table-sticky button {
  cursor: pointer;
}

.mat-column-_hiddenValidation mat-chip-set {
  max-width: 300px;
  width: max-content;
}

::ng-deep .validation-chips .mat-mdc-standard-chip {
  --mat-chip-container-height: 18px;
}
