.mat-column-actions > div {
  display: flex;
  flex-wrap: nowrap;
}

.sticky-cell > div {
  margin: 0px 8px;
  text-align: center;
}

.sticky-cell button {
  cursor: pointer;
}

.mat-column-_hiddenValidation mat-chip-set {
  max-width: 300px;
  width: max-content;
}
