.mat-column-actions > div {
  display: flex;
  flex-wrap: nowrap;
}

.mat-mdc-table-sticky button {
  cursor: pointer;
}

.mat-column-_hiddenValidation mat-chip-set {
  max-width: 300px;
  width: max-content;
}
